body {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    /* background-color: lime; */
    background-color:  #f0dc29;
}
h1 , h2{
    text-decoration: underline;
}

p.para1{
    color: blue;
    font-size: 25px;
    line-height: 1.5em;
    
 }
p.para2 {
    color: purple;
    font-size: 25px;
    line-height: 1.5em;
    background-color: white;
    padding: 10px;
    border: black 2px solid;
      
 }

 p.para4 {
    color: black;
    font-size: 25px;
    line-height: 1.5em;
    background-color: white;
    padding: 10px;
    border: black 2px solid;
    margin: 20px;
    margin-left: 400px;
p.para3 {
    color: purple;
    font-size: 25px;
    font-style: italic;
    
 }
 i {
     color: red;
 }